<div class="right_sidebar">
    <div class="hots">
        <div class="hot_head">Trending Hots</div>
        <div class="hot_container">
            <a href="#">
                <div class="hot_content">
                <!-- <div class="hot_title">Hot Title</div> -->
                <div class="hot_lines">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, molestiae.</div>
                </div>
            </a>
            <a href="#">
                <div class="hot_content">
                <!-- <div class="hot_title">Hot Title</div> -->
                <div class="hot_lines">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, molestiae.</div>
                </div>
            </a>
            <a href="#">
                <div class="hot_content">
                <!-- <div class="hot_title">Hot Title</div> -->
                <div class="hot_lines">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, molestiae.</div>
                </div>
            </a>
        </div>
    </div>
    <hr id="right_sidebar_hr">
    <div class="blogs">
        <div class="blog_head">Blogs</div>
        <div class="blog_container">
            <a href="#">
                <div class="blog_content">
                <div class="blog_title">Blog Title</div>
                <div class="site_name">www.geeksforgeeks.com</div>
                <div class="blog_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam assumenda tenetur vel corporis natus veritatis labore repellendus, maxime consequuntur culpa?</div>
                </div>
            </a>
            <a href="#">
                <div class="blog_content">
                <div class="blog_title">Blog Title</div>
                <div class="site_name">www.geeksforgeeks.com</div>
                <div class="blog_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam assumenda tenetur vel corporis natus veritatis labore repellendus, maxime consequuntur culpa?</div>
                </div>
            </a>
            <a href="#">
                <div class="blog_content">
                <div class="blog_title">Blog Title</div>
                <div class="site_name">www.geeksforgeeks.com</div>
                <div class="blog_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam assumenda tenetur vel corporis natus veritatis labore repellendus, maxime consequuntur culpa?</div>
                </div>
            </a>
        </div>
    </div>
</div>